html {
  font-size: 62.5%;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: GhostWhite;
}

.main-container {
  max-width: 32rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.title-wrapper {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: CornflowerBlue;
  color: white;

}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.05rem solid black;
}

.label {
  display: block;
  width: 100%;
  color: cornflowerblue;
  transition: 0.3s ease-in;
  background-color: white;
}

/* .line {
  width: 100%;
  height: 1rem;
  background-color: black;
} */

.label-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.label-title {
  line-height: 4rem;
  font-size: 2rem;
  font-weight: 400;
  /* margin-top: 1.5rem; */
}

.radio {
  appearance: none;
  transition: 0.3s ease-in;
}

.label:has(>.radio:checked) {
 color: black;
}

.x {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.label:has(>.radio:checked) .x {
  transform: rotate(45deg);
 }

 .label:has(>.radio:checked) .label {
  /* transform: rotate(45deg); */
  /* height: 34rem; */
}

.radio:checked + .image-wrap {
  height: 34rem;
}

.image-wrap {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: GhostWhite;
}

.image {
  width: 32rem;
  margin: 0 auto;
  padding: 1rem 0;
  box-shadow: inset 0 0.2rem 1rem 0 rgba(0,0,0,0.5);
}

.label:hover {
  cursor: pointer;
}

.main-inner:hover .label{
  color: black;
}

.label:active .label-header{
  color: cornflowerblue;
}

.label:hover .image-wrap {
  height: 34rem;
}


@media (min-width:820px) {
  html {
    font-size: 80%;
  }
}

@media (min-width:1120px) {
  html {
    font-size: 100%;
  }
}